* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020204;
  font-family: "Jost", sans-serif;
  z-index: 0;
}

.header-container {
  max-width: 1200px;
  margin: 6px auto;
  justify-content: space-around;
  align-items: center;
}

.first-header-nav {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.first-header-items {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  list-style: none;
  text-decoration: none;
}

.first-header-item {
  color: #fff;
  text-decoration: none;
}

.second-header-nav {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-header-items {
  font-size: 15px;
  font-weight: 600;
  display: flex;
  gap: 15px;
}

.second-header-item {
  color: #fff;
  text-decoration: none;
  transition: 0.6s linear;
}

.second-header-item:hover {
  color: #c7a17a;
}

.phone-number {
  color: #fff;
  font-size: 15px;
  font-size: 15px;
}

.header-img-items {
  display: flex;
  gap: 20px;
}

main {
  background-image: url(images/intro.svg);
  padding: 0px 0px 0px 18.75%;
  background-size: cover;
  background-position: center;
  height: 720px;
  margin: 20px auto;
}

.main-title {
  padding-top: 199px;
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: 144%;
}

.main-description {
  color: #dfdfdf;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttons-descriptors {
  display: flex;
  margin-top: 35px;
}

.buy-now {
  width: 200px;
  height: 50px;
  background: #c7a17a;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: none;
  transition: 0.3s linear;
}

.buy-now:hover {
  background: #ce9145;
}

.read-more {
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background: rgba(199, 161, 122, 0);
  border: none;
  outline: none;
  border: 1px solid #666681;
  margin-left: 20px;
}

.banner {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner img {
  width: 600px;
  height: 330px;
  border-radius: 0px;
}

.banner-block {
  width: 600px;
  height: 330px;
  background: #14141d;
  border-radius: 10px;
}

#banner-block-title {
  color: #fff;
  padding: 30px;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
}

.banner-block-description {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 30px 30px 30px;
}

.catalog {
  max-width: 1200px;
  margin: 0 auto;
}

#catalog-title {
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  margin-top: 80px;
  text-align: center;
}

.catalog-items {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
}

.catalog-item {
  height: 372px;
  max-width: 386px;
  width: 100%;
  border-radius: 10px;
  background: #22222f;
}

.catalog-item-product {
  padding: 20px 140px;
}

.catalog-item-title {
  color: #fff;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 900;
}

.catalog-item-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.catalog-item-price {
  color: #fff;
  padding-left: 20px;
  padding-top: 30px;
}

.catalog-item-favorite {
  padding-right: 20px;
  padding-top: 30px;
}

.news-title {
  margin-top: 80px;
  color: #fff;
  font-weight: 900;
  font-size: 50px;
  text-align: center;
}

.news-items {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.news-item {
  height: 465px;
  width: 386px;
  background: #14141d;
}

.news-item-title {
  color: #fff;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: 900;
}

.news-item-description {
  color: #dfdfdf;
  padding-top: 13px;
  padding-left: 20px;
  font-size: 16px;
  font-weight: 400;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.footer-item {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  transition: 0.6s linear;
}

.footer-item:hover {
  color: #c7a17a;
}

.footer-rules-item {
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  list-style: none;
  text-decoration: none;
  transition: 0.6s linear;
}

.footer-rules-item:hover {
  color: #c7a17a;
}

.line {
  width: 100%;
  height: 1px;
  background: #32323d;
}

.line_2 {
  width: 100%;
  height: 1px;
  background: #32323d;
  margin-top: 80px;
}

.lines {
  width: 50px;
  height: 7px;
  margin: 5px;
  background: grey;
  position: relative;
}

.burger {
  position: absolute;
  display: none;
}

.burger-menu {
  display: none;
}

.second-header-burger-items {
  display: none;
}

.burger-content {
  display: none;
}

.burger-field {
  z-index: 9999;
  display: none;
  background: #44403d;
  opacity: 0.9;
  width: 320px;
  height: 45vh;
}

.navbar-tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar,
.close-field {
  color: #fff;
}

.burger-field-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.burger-field-list li {
  list-style: none;
}

.burger-field-list-item {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1215px) {
  .catalog-item {
    max-width: 500px;
  }

  .catalog-item-product {
    padding: 20px 0px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  .catalog-item-title {
    padding-left: 0px;
    text-align: center;
  }

  .footer {
    justify-content: space-around;
  }
}

@media (max-width: 750px) {
  .footer {
    gap: 100px;
  }

  .burger-field {
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .burger-content {
    display: block;
  }

  .header-container {
    max-width: 500px;
    margin: 6px auto;
  }

  .second-header-items {
    display: none;
  }

  .burger-menu {
    display: block;
    color: grey;
    font-size: 36px;
  }

  .show-menu {
    display: flex !important;
    flex-direction: column;
    align-items: left;
    border: 1px solid #020204;
  }
}

@media (max-width: 485px) {
  .banner-block {
    height: 500px;
  }

  .banner img {
    width: 350px;
  }

  .banner-block {
    width: 350px;
  }
}
